<div class="title"><h1 >Find carriers by city and/or state</h1></div>
<app-search-form (formEvent)="setLocation($event)" ></app-search-form>


<div class="section-table">
    <table class="carrier-list" *ngIf="elements" >
        <thead >
          <tr>
            <th  #thenBlock *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let el of elements">
            <td>{{el.name}}</td>
            <td>{{el.email}}</td>
            <td>{{el.phone}}</td>
          </tr>
        </tbody>
        
    </table>
    <div *ngIf="!elements" class="title"><h1 #thenBlock >Select a citiy/state.</h1></div>
    
</div>
