.title{
text-align: center;
padding-top: 3em;
}
.section{
    justify-content: center;
    display: flex;
    margin-top: 1em;
    
}
.button{
    margin-left: 4px;
    margin-top: auto;
    height: 100%;
}